<nav class="admin-nav-container">
    <ul class="admin-nav-items-container">
      <li>
        <a href="javascript:;" class="admin-nav-item" activeClass="active"
          >Gerenciar Produtos</a
        >
      </li>
      <li>
        <a href="javascript:;" class="admin-nav-item" activeClass="active"
          >Gerenciar Categorias</a
        >
      </li>
      <li>
        <a href="javascript:;" class="admin-nav-item" activeClass="active"
          >Gerenciar Usuários</a
        >
      </li>
    </ul>
  </nav>