<div class="container my-4 products-container">
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <a href="javascript:;">
            <app-card></app-card>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <a href="javascript:;">
            <app-card></app-card>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <a href="javascript:;">
            <app-card></app-card>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <a href="javascript:;">
            <app-card></app-card>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <a href="javascript:;">
            <app-card></app-card>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <a href="javascript:;">
            <app-card></app-card>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <a href="javascript:;">
            <app-card></app-card>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <a href="javascript:;">
            <app-card></app-card>
        </a>
      </div>
    </div>
