<nav class="admin-nav-container">
    <ul class="admin-nav-items-container">
      <li>
        <a href="javascript:;" class="admin-nav-item" activeClass="active"
          >Estoque de produtos</a
        >
      </li>
      <li>
        <a href="javascript:;" class="admin-nav-item" activeClass="active"
          >Gráficos</a
        >
      </li>
      <li>
        <a href="javascript:;" class="admin-nav-item" activeClass="active"
          >Relatórios</a
        >
      </li>
    </ul>
  </nav>