<nav class="navbar navbar-expand-md navbar-dark bg-primary main-nav">
  <div class="container-fluid">
    <a href="javascript:;" class="nav-logo-text">
      <h4>RT Next Generations</h4>
    </a>

    <div id="dscatalog-navbar">
      <ul class="navbar-nav offset-md-2 main-menu">
        <li>
          <a href="javascript:;" activeClass="active">CARRINHO</a>
        </li>
        <li>
          <a href="javascript:;" activeClass="active">LOGIN</a>
        </li>
        <li>
          <a href="javascript:;" activeClass="active">ADMIN</a>
        </li>
      </ul>
    </div>

    <div class="nav-login-logout">
      <span class="nav-username">Usuario X</span>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-md navbar-dark main-nav2">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#dscatalog-navbar"
      aria-controls="dscatalog-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="dscatalog-navbar">
      <ul class="navbar-nav offset-xl-12 main-menu2">
        <li>
          <a href="javascript:;" activeClass="active" exact> Consoles </a>
        </li>
        <li>
          <a href="javascript:;" activeClass="active"> Jogos </a>
        </li>
        <li>
          <a href="javascript:;" activeClass="active"> Acessórios </a>
        </li>
        <li>
          <a href="javascript:;" activeClass="active"> Skins </a>
        </li>
        <li>
          <a href="javascript:;" activeClass="active"> Action Figure </a>
        </li>
        <li>
          <a href="javascript:;" activeClass="active"> Quadros </a>
        </li>
      </ul>
    </div>
  </div>
</nav>





