<div class="board-filter-container">
    <form class="board-filter-form">
      <div class="board-filter-name-container">
        <input
          type="text"
          class="form-control"
          placeholder="Pesquisa de produtos"
          name="name"
        />
        <button class="board-filter-search-icon">
          <img src="assets/images/search-icon.svg" alt="produto" />
        </button>
        <button class="board-filter-search-icon">
        </button>
      </div>
    </form>
  </div>